body {
  font-family: sans-serif;
}

.main-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1,
  h3 {
    color: #fff;
    text-align: center;
  }
  h1 {
    padding-top: 5rem;
  }
  .form-holder {
    background: #fff;
    height: 60vh;
    width: 70vw;
    margin: 3rem;
  }
}
.section-header {
  text-align: center;
  padding: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.btn-block {
  width: 100%;
}
.feature-list {
  list-style-type: none;

  .logo-container {
    display: grid;
    place-items: center;
    font-size: 3rem;
  }
}
.feature-header {
  font-weight: bold;
}
p {
  color: #555;
}
.trust-list {
  list-style-type: none;
}
